
.menu-products-grid-section {
    background-color: #FEEED4; 
  }
  
 
  @media (max-width: 992px) {
    .menu-products-grid-section .col-lg-4 {
      flex: 0 0 50%;  
      max-width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .menu-products-grid-section .col-sm-6 {
      flex: 0 0 100%;  
      max-width: 100%;
    }
  }
  